# --------------------
# iOS / Xcode
# --------------------

# macOS
.DS_Store
**/.DS_Store

# user-specific
**/xcuserdata/
**/*.xcuserstate
**/*.xccheckout
**/*.xcscmblueprint

# build / caches
DerivedData/
**/DerivedData/
ios/**/build/
**/.build/

# xcode misc noise
*.hmap
*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3

# artifacts
*.ipa
*.dSYM
*.dSYM.zip

# playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM
.swiftpm/

# Secrets (xcconfig)
Secrets*.xcconfig
!Secrets*.example.xcconfig

# API Keys (nicht auf GitHub pushen)
SETUP_KEYS.md